In [1]:
%LOAD sqlite3 db=hello.db

In [11]:
DROP TABLE helloworld;

In [12]:
CREATE TABLE helloworld (phrase TEXT);

In [13]:
INSERT INTO helloworld VALUES ("Hello, World!");

In [15]:
INSERT INTO helloworld VALUES ("Goodbye, World!");

In [16]:
SELECT * FROM helloworld WHERE phrase LIKE 'H%';

+---------------+
| phrase        |
+---------------+
| Hello, World! |
+---------------+
1 row in set (0.00 sec)